@font-face {
    font-family: 'byekan';
    src: url('byekan.svg');
    src: url('byekan.eot') format('embedded-opentype'),
    url('byekan.woff') format('woff'),
    url('byekan.ttf') format('truetype'),
    url('byekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}