/vendor/
.htaccess
node_modules/
/public_html/mix-manifest.json
/public_html/storage/
/storage/*.key
/public_html/admin_dashboard/css/
/public_html/npm-debug.log
/public_html/admin_dashboard/js/all*
Homestead.yaml
Homestead.json
.env*
!.env.example
.envrc
.encrc.back
.idea
/.vscode
/.vagrant
.DS_Store
tags
/.bash_logout
/.bash_profile
/.bashrc
/.cache/
/.config/
/.contactemail
/.cpanel/
/.cphorde/
/.htaccess
/.lastlogin
/.local/
/.mysql_history
/.npm/
/.trash/
/.v8flags.*
/.viminfo
/.zshrc
/access-logs
/etc/
/hintask_automation.sql
/logs/
/mail/
/ssl/
/tmp/
/www
/.bash_history
/error_log
/.node-gyp/
/.ssh/
/.subaccounts/
/.vim/
/cpbackup-exclude.conf
/bin/
/public_html/sitemap.xml
/public_html/sitemap.html
/public_html/robots.txt
/public
/.ftpquota
/.zcompdump
/public_html/.well-known/
/.spamassassin/
/.spamassassinenable
browserconfig.xml
mix-manifest.json
mag.*
snap/
php/
demo.retopi.com/
.pearrc
.phpunit.result.cache
npm-debug.log
yarn-error.log
resources/lang/*.json
public_html/mag
public_html/blog
public_html/magazine
