.main-content {
  .explore-view-container {
    .file-container {
      float: right;
      padding: 7.5px;
      position: relative;

      .file-checkbox {
        display: none;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        z-index: 1;

        i {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          color: $color-toolbar-back;
          font-size: 20px;

          &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
          }
        }
      }

      &.selected, &:hover {
        .file-checkbox {
          display: block;
          @include border-radius(50%);
          overflow: hidden;
          background: $color-apps-nav-back;

          i {

            &.fa-check-circle-o {
              display: none;
            }

            &.fa-circle-o {
              display: block;
            }
          }
        }
      }

      &.selected {
        .file-checkbox {
          i.fa-check-circle-o {
            display: block;
          }

          i.fa-circle-o {
            display: none;
          }
        }
      }

      &:hover {

      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
        background-color: $color-toolbar-back;
        overflow: hidden;

        .h-icon {
          background-color: $color-nav-back;
        }

        .file-detail {
          padding-top: 15px;

          .file-title {
            text-align: center;
            font-size: 12px;
            margin-top: 0;
            white-space: nowrap;
            color: $color-apps-nav-back;
          }

          span.real-directory {
            font-family: sans-serif;
            font-weight: lighter;
            direction: ltr;
            text-align: center;
            font-size: 10px;
            background-color: #333;
            color: $color-font-1;
            padding: 3px 3px 5px 3px;
            display: block;
            width: 100%;
            @include border-radius(3px);

            &:before {
              content: '[';
              margin-right: 5px
            }

            &:after {
              content: ']';
              margin-left: 5px;
            }
          }
        }
      }

      &.cut-item {
        opacity: 0.4;
      }
    }
  }
}

*[act="file"].cut {
  opacity: 0.4;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: unset;
  font-weight: normal;
  color: unset;
  cursor: pointer;
}