.main-content {
    .explore-view-container {
        .form-layout-container {
            @include main-scroll-content();
            background: $color-toolbar-back;

            *[class^='col-'] {
                float: right;
            }

            .form-window {
                position: relative;
                background: $color-nav-back;
                margin: 50px 0;
                @include border-radius(5px);
                padding: 0;

                .top-bar {
                    width: 100%;
                    height: 60px;
                    background-color: #ebebec;
                    @include border-radius-top(5px);
                    border-bottom: 1px solid;

                    .button-container {
                        float: left;

                        .btn-exit {
                            width: 12px;
                            height: 12px;
                            background: $color-toolbar-back;
                            float: left;
                            margin-top: 6px;
                            @include border-radius(50%);
                            padding: 0;
                            margin-left: 5px;

                            &.btn-exit {
                                background-color: #FF6666;
                            }

                            &.btn-mini {
                                background-color: #ffdf68;
                            }

                            &.btn-fscr {
                                background-color: #75ff8c;
                            }
                        }

                        .language-container {
                            position: absolute;
                            top: 2px;
                            left: 30px;
                            margin: 0;
                            padding: 0;
                            border: none;

                            .btn {
                                padding: 0;
                                margin: 0;
                                color: $color-nav-back;
                                border: none;
                                background: none;
                            }

                            ul {
                                li {
                                    color: $color-dark-1;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .title-container {
                        h1 {
                            font-size: 20px;
                            font-weight: 600;
                            margin: 0;
                            padding: 10px 20px;
                            text-align: right;
                            color: $color-dark-2-1;
                        }
                    }

                }

                .form-body {
                    min-height: 100px;
                    padding: 10px;
                }

                .form-footer {
                    margin-top: 20px;
                    min-height: 50px;
                    border-top: 1px solid #b9b9b9;
                    padding: 10px;

                    & > * {
                        float: left;
                        margin-right: 10px;
                    }
                }
            }
        }

    }
}
