.h-icon {
    background-size: 100% 100% !important;

    &.icon-folder {
        background: url('/admin_dashboard/images/icons/folder.png');
    }

    &.icon-setting {
        background: url('/admin_dashboard/images/icons/setting.png');
    }

    &.icon-state {
        background: url('/admin_dashboard/images/icons/state.png');
    }

    &.icon-gallery {
        background: url('/admin_dashboard/images/icons/gallery.png');
    }

    &.icon-web-form {
        background: url('/admin_dashboard/images/icons/forms.png');
    }

    &.icon-web-page {
        background: url('/admin_dashboard/images/icons/web-page.png');
    }

    &.icon-product {
        background: url('/admin_dashboard/images/icons/product.png');
    }

    &.icon-user {
        background: url('/admin_dashboard/images/icons/user.png');
    }

    &.icon-update {
        background: url('/admin_dashboard/images/icons/update.png');
    }

    &.icon-role {
        background: url('/admin_dashboard/images/icons/permission.png');
    }

    &.icon-p-structure {
        background: url("/admin_dashboard/images/icons/p-structure.png");
    }

    &.icon-tag {
        background: url("/admin_dashboard/images/icons/tag.png");
    }

    &.icon-customer {
        background: url("/admin_dashboard/images/icons/customer.png");
    }

    &.icon-invoice {
        background: url("/admin_dashboard/images/icons/invoice.png");
    }

    &.icon-customer-cart {
        background: url("/admin_dashboard/images/icons/customer-cart.png");
    }

    &.icon-need-list {
        background: url("/admin_dashboard/images/icons/need-list.png");
    }

    &.icon-discount-group {
        background: url("/admin_dashboard/images/icons/discount.png");
    }

    &.icon-review {
        background: url("/admin_dashboard/images/icons/review.png");
    }

    &.icon-product-query {
        background: url("/admin_dashboard/images/icons/query.png");
    }

    &.icon-product-filter {
        background: url("/admin_dashboard/images/icons/filter.png");
    }

    &.icon-rate-comment {
        background: url("/admin_dashboard/images/icons/comment.png");
    }

    &.icon-rate-message {
        background: url("/admin_dashboard/images/icons/message.png");
    }

    &.icon-edit-robot {
        background: url("/admin_dashboard/images/icons/robottxt.png");
    }

    &.icon-customer-meta-category {
        background: url("/admin_dashboard/images/icons/customer-meta.png");
    }

    &.icon-survey {
        background: url("/admin_dashboard/images/icons/survey.png");
    }

    &.icon-shipment-cost {
        background: url("/admin_dashboard/images/icons/shipment-cost.png");
    }

    &.icon-cart-notification {
        background: url("/admin_dashboard/images/icons/cart-notification.png");
    }

    &.icon-link-shortener {
        background: url("/admin_dashboard/images/icons/link-shortener.png");
    }

    &.icon-logistics {
        background: url("/admin_dashboard/images/icons/logistics.png");
    }

    &.icon-log {
        background: url("/admin_dashboard/images/icons/log.png");
    }

    &.icon-badge {
        background: url("/admin_dashboard/images/icons/badge.png");
    }

    &.icon-payment-driver {
        background: url("/admin_dashboard/images/icons/payment-driver.png");
    }

    &.icon-modal {
        background: url("/admin_dashboard/images/icons/modal.png");
    }

    &.icon-financial-driver {
        background: url("/admin_dashboard/images/icons/financial-driver.png");
    }

    &.icon-sms-driver {
        background: url("/admin_dashboard/images/icons/sms-driver.png");
    }

    &.icon-language {
        background: url("/admin_dashboard/images/icons/language.png");
    }

    &.icon-color {
        background: url("/admin_dashboard/images/icons/color.png");
    }

    &.icon-representative {
        background: url("/admin_dashboard/images/icons/representative.png");
    }

    &.icon-live-reports {
        background: url("/admin_dashboard/images/icons/live-reports.png");
    }
}
