body.page-reports {
    .loader-layer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #FFF;

        .fa-refresh {
            position: absolute;
            left: 50%;
            margin-left: -30px;
            top: 50%;
            margin-top: -30px;
            color: $color-dark-3;
        }
    }

    .holder {
        max-width: 455px;
        margin: 0 auto;

        .follow {
            display: block;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 12px;
            color: #666;
            text-align: center;
        }
    }

    .livenow {
        width: 30px;
        padding: 10px 40px 12px 40px;
        margin: 0 auto;
        display: inline-block;

        & > div {
            vertical-align: middle;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            position: absolute;
            margin: 0 auto;
            -webkit-animation: live 1.4s infinite ease-in-out;
            animation: live 1.4s infinite ease-in-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

            &:nth-child(1) {
                background-color: rgb(253, 154, 154);
                -webkit-animation-delay: -0.1s;
                animation-delay: -0.1s;
            }

            &:nth-child(2) {
                -webkit-animation-delay: 0.16s;
                animation-delay: 0.16s;
            }

            &:nth-child(3) {
                -webkit-animation-delay: 0.42s;
                animation-delay: 0.42s;
                border: 3px solid rgba(208, 1, 1, 0.5);
            }

            &:nth-child(4) {
                border: 3px solid rgb(162, 0, 0);
                -webkit-animation-delay: -0.42s;
                animation-delay: -0.42s;
            }
        }
    }

    @-webkit-keyframes live {
        0%, 80%, 100% {
            -webkit-transform: scale(0.6)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }
    @keyframes live {
        0%, 80%, 100% {
            transform: scale(0.6);
            -webkit-transform: scale(0.6);
        }
        40% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }


    header {
        .container-fluid {
            .navbar-header {
                a.navbar-brand {
                    color: $color-dark-1
                }
            }
        }
    }

    .container.numeric-reports {
        .numeric-report-container {
            -webkit-box-shadow: 15px 18px 38px -4px rgba(130, 130, 130, 0.5);
            -moz-box-shadow: 15px 18px 38px -4px rgba(130, 130, 130, 0.5);
            box-shadow: 15px 18px 38px -4px rgba(130, 130, 130, 0.5);
            height: 140px;
            padding: 15px;
            position: relative;

            .livenow {
                position: absolute;
                left: 15px;
                top: 5px;
            }

            h1 {
                font-size: 16px;
                color: $color-dark-2;
                text-align: right;
            }

            p {
                text-align: center;

                span {
                    font-size: 24px;
                    color: $color-dark-1;
                }
            }

        }
    }

    .container-fluid.data-reports {
        & > .row {
            margin-top: 40px;

            .report-box {
                -webkit-box-shadow: 15px 18px 38px -4px rgba(130, 130, 130, 0.5);
                -moz-box-shadow: 15px 18px 38px -4px rgba(130, 130, 130, 0.5);
                box-shadow: 15px 18px 38px -4px rgba(130, 130, 130, 0.5);
                padding: 15px;
                position: relative;

                .livenow {
                    position: absolute;
                    left: 15px;
                    top: 5px;
                }

                h1 {
                    font-size: 16px;
                    color: $color-dark-2;
                    padding-bottom: 15px;
                    margin: 15px 0;
                    border-bottom: 1px solid $color-dark-1;
                }

                .data-container {
                    height: 200px;
                    overflow-y: scroll;

                    .row {
                        margin-top: 15px;


                        .col-count {
                            .fa-arrow-up {
                                color: $color-success;
                            }

                            .fa-arrow-down {
                                color: $color-danger;
                            }
                        }

                        .col-title {

                        }

                        .col-amount {

                        }
                    }
                }
            }
        }

    }
}
