.modal {
  .modal-dialog {
    background: $color-nav-back;
    border: none;
    @include border-radius(5px);
    padding: 0;
    .modal-content {
      border: none;
      @include border-radius(5px);
      padding: 0;
      .modal-header {
        &::before {
          content: '';
        }
        width: 100%;
        height: 25px;
        background-color: $color-apps-nav-back;
        padding: 0;
        @include border-radius-top(5px);
        .button-container {
          float: left;
          .btn {
            width : 12px;
            height: 12px;
            background: $color-toolbar-back;
            float: left;
            margin-top: 6px;
            @include border-radius(50%);
            padding: 0;
            margin-left: 5px;
            &.btn-exit {
              background-color: #FF6666;
            }
          }
        }
        .title-container {
          h1 {
            font-size: 10px;
            font-weight: lighter;
            margin: 0;
            padding : 5px 10px;
            color: $color-nav-back;
            text-align: right;
          }
        }
      }
      .modal-body {
        direction: rtl;
        * {
          direction: rtl;
          text-align: right;
        }
      }
      .modal-footer {
        * {
          float: left;
        }
      }
    }
  }
}