nav.main-nav {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 8px;
  background: $color-nav-back;

  .right-tools {
    padding-right: 0;
    float: right;

    .profile {
      float: right;

      .user-photo {
        height: 48px;
        width: 48px;
        float: right;
      }

      .name {
        float: right;
        margin-top: 17px;
        padding-right: 10px;
        direction: rtl;
        text-align: right;
      }

    }

    .action-container {
      float: right;
      margin-top: 15px;

      .action-button {
        float: right;
        margin-right: 28px;
        cursor: pointer;
        position: relative;

        span.badge-message {
          display: block;
          position: absolute;
          background-color: #f44336;
          z-index: 1;
          font-family: byekan;
          color: #fff;
          width: 25px;
          height: 25px;
          text-align: center;
          padding: 8px 6px;
          font-size: 12px;
          border-radius: 50%;
          top: -15px;
          right: -15px;
        }

        a {
          color: $color-apps-nav-back;


          i {
            font-size: 20px;

            &.shake {
              -webkit-animation: shake 10s ease 3s infinite;
              -moz-animation: shake 10s ease 3s infinite;
              animation: shake 10s ease 3s infinite;
              @-webkit-keyframes shake {
                1% { -webkit-transform: rotateZ(15deg); transform-origin: 50% 10%;}
                2% { -webkit-transform: rotateZ(-15deg); transform-origin: 50% 10%;}
                3% { -webkit-transform: rotateZ(20deg); transform-origin: 50% 10%;}
                4% { -webkit-transform: rotateZ(-20deg); transform-origin: 50% 10%;}
                5% { -webkit-transform: rotateZ(15deg); transform-origin: 50% 10%;}
                6% { -webkit-transform: rotateZ(-15deg); transform-origin: 50% 10%;}
                7% { -webkit-transform: rotateZ(0); transform-origin: 50% 10%;}
                100% { -webkit-transform: rotateZ(0); transform-origin: 50% 10%;}
              }
              @-moz-keyframes shake {
                1% { -moz-transform: rotateZ(15deg); transform-origin: 50% 0%; }
                2% { -moz-transform: rotateZ(-15deg); transform-origin: 50% 0%;}
                3% { -moz-transform: rotateZ(20deg); transform-origin: 50% 0%; }
                4% { -moz-transform: rotateZ(-20deg); transform-origin: 50% 0%;}
                5% { -moz-transform: rotateZ(15deg); transform-origin: 50% 0%; }
                6% { -moz-transform: rotateZ(-15deg); transform-origin: 50% 0%;}
                7% { -moz-transform: rotateZ(0); transform-origin: 50% 0%;   }
                100% { -moz-transform: rotateZ(0); transform-origin: 50% 0%;  }
              }
              @keyframes shake {
                1% { transform: rotateZ(15deg); transform-origin: 50% 0%; }
                2% { transform: rotateZ(-15deg); transform-origin: 50% 0%;}
                3% { transform: rotateZ(20deg); transform-origin: 50% 0%; }
                4% { transform: rotateZ(-20deg); transform-origin: 50% 0%;}
                5% { transform: rotateZ(15deg); transform-origin: 50% 0%; }
                6% { transform: rotateZ(-15deg); transform-origin: 50% 0%;}
                7% { transform: rotateZ(0); transform-origin: 50% 0%;   }
                100% { transform: rotateZ(0); transform-origin: 50% 0%;   }
              }
            }
          }

          &:hover {
            i {
              color: $color-main-1;
            }
          }
        }
      }
    }
  }

  .search-bar {
    float: right;

    .search-input-container {

      border-bottom: 1px solid $color-search-border;
      padding: 5px;

      input {
        &:focus {
          border: none;
          outline: none;
        }

        width: 100%;
        border: none;
        direction: rtl;
        text-align: right;
        font-size: 20px;
        font-weight: lighter;
      }

      i {
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 20px;
      }
    }
  }

  .left-tools {
    float: right;
    display: inline-flex;

    .logo-container {
      float: left;
      width: 50px;
    }

    .date-container {
      float: left;
      margin-left: 15px;
      margin-top: 15px;
      direction: rtl;
      text-align: right;
      white-space: nowrap;
    }

  }
}

nav.apps-nav-container {
  @include hide-scroll();
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  direction: rtl;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
  background: $color-apps-nav-back;
  height: 104px;

  ul.apps-nav {
    position: relative;
    padding: 8px;
    white-space: nowrap;
    display: inline-flex;
    direction: rtl;

    .app-container {
      width: 60px;
      height: 90px;
      float: right;
      display: inline;
      margin-right: 10px;
      position: relative;

      &:nth-child(1) {
        margin-right: 0;
      }

      a {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        text-decoration: none;

        .notification-container {
          display: none;
        }

        &.has-notif {
          .notification-container {
            display: block;
            position: absolute;
            background-color: $color-notifications-back;
            z-index: 1;
            font-family: $font-for-numbers;
            color: $color-font-1;
            width: 25px;
            height: 25px;
            text-align: center;
            padding: 5px 0;
            font-size: 10px;
            @include border-radius(50%);
            top: -5px;
            right: -5px;
          }
        }

        .icon-container {
          width: 60px;
          height: 60px;
          border-radius: 7px;
          background: $color-font-1;
          padding: 7px;

          .icon-background {
            border-radius: 50%;

            img {
            }
          }
        }

        .app-name {
          margin-top: 4px;
          font-weight: lighter;
          color: $color-font-1;
          font-size: 10px;
          text-align: center;
        }
      }
    }
  }

  div.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}