.m-5 {
  margin: 5px !important
}

.mt-5, .my-5 {
  margin-top: 5px !important
}

.mr-5, .mx-5 {
  margin-right: 5px !important
}

.mb-5, .my-5 {
  margin-bottom: 5px !important
}

.ml-5, .mx-5 {
  margin-left: 5px !important
}

.m-10 {
  margin: 10px !important
}

.mt-10, .my-10 {
  margin-top: 10px !important
}

.mr-10, .mx-10 {
  margin-right: 10px !important
}

.mb-10, .my-10 {
  margin-bottom: 10px !important
}

.ml-10, .mx-10 {
  margin-left: 10px !important
}

.m-15 {
  margin: 15px !important
}

.mt-15, .my-15 {
  margin-top: 15px !important
}

.mr-15, .mx-15 {
  margin-right: 15px !important
}

.mb-15, .my-15 {
  margin-bottom: 15px !important
}

.ml-15, .mx-15 {
  margin-left: 15px !important
}

.m-20 {
  margin: 20px !important
}

.mt-20, .my-20 {
  margin-top: 20px !important
}

.mr-20, .mx-20 {
  margin-right: 20px !important
}

.mb-20, .my-20 {
  margin-bottom: 20px !important
}

.ml-20, .mx-20 {
  margin-left: 20px !important
}

.m-30 {
  margin: 30px !important
}

.mt-30, .my-30 {
  margin-top: 30px !important
}

.mr-30, .mx-30 {
  margin-right: 30px !important
}

.mb-30, .my-30 {
  margin-bottom: 30px !important
}

.ml-30, .mx-30 {
  margin-left: 30px !important
}

.m-50 {
  margin: 50px !important
}

.mt-50, .my-50 {
  margin-top: 50px !important
}

.mr-50, .mx-50 {
  margin-right: 50px !important
}

.mb-50, .my-50 {
  margin-bottom: 50px !important
}

.ml-50, .mx-50 {
  margin-left: 50px !important
}

.m-100 {
  margin: 100px !important
}

.mt-100, .my-100 {
  margin-top: 100px !important
}

.mr-100, .mx-100 {
  margin-right: 100px !important
}

.mb-100, .my-100 {
  margin-bottom: 100px !important
}

.ml-100, .mx-100 {
  margin-left: 100px !important
}

.m-150 {
  margin: 150px !important
}

.mt-150, .my-150 {
  margin-top: 150px !important
}

.mr-150, .mx-150 {
  margin-right: 150px !important
}

.mb-150, .my-150 {
  margin-bottom: 150px !important
}

.ml-150, .mx-150 {
  margin-left: 150px !important
}

.m-200 {
  margin: 200px !important
}

.mt-200, .my-200 {
  margin-top: 200px !important
}

.mr-200, .mx-200 {
  margin-right: 200px !important
}

.mb-200, .my-200 {
  margin-bottom: 200px !important
}

.ml-200, .mx-200 {
  margin-left: 200px !important
}

.m-300 {
  margin: 300px !important
}

.mt-300, .my-300 {
  margin-top: 300px !important
}

.mr-300, .mx-300 {
  margin-right: 300px !important
}

.mb-300, .my-300 {
  margin-bottom: 300px !important
}

.ml-300, .mx-300 {
  margin-left: 300px !important
}

.p-5 {
  padding: 5px !important
}

.pt-5, .py-5 {
  padding-top: 5px !important
}

.pr-5, .px-5 {
  padding-right: 5px !important
}

.pb-5, .py-5 {
  padding-bottom: 5px !important
}

.pl-5, .px-5 {
  padding-left: 5px !important
}

.p-10 {
  padding: 10px !important
}

.pt-10, .py-10 {
  padding-top: 10px !important
}

.pr-10, .px-10 {
  padding-right: 10px !important
}

.pb-10, .py-10 {
  padding-bottom: 10px !important
}

.pl-10, .px-10 {
  padding-left: 10px !important
}

.p-15 {
  padding: 15px !important
}

.pt-15, .py-15 {
  padding-top: 15px !important
}

.pr-15, .px-15 {
  padding-right: 15px !important
}

.pb-15, .py-15 {
  padding-bottom: 15px !important
}

.pl-15, .px-15 {
  padding-left: 15px !important
}

.p-20 {
  padding: 20px !important
}

.pt-20, .py-20 {
  padding-top: 20px !important
}

.pr-20, .px-20 {
  padding-right: 20px !important
}

.pb-20, .py-20 {
  padding-bottom: 20px !important
}

.pl-20, .px-20 {
  padding-left: 20px !important
}

.p-30 {
  padding: 30px !important
}

.pt-30, .py-30 {
  padding-top: 30px !important
}

.pr-30, .px-30 {
  padding-right: 30px !important
}

.pb-30, .py-30 {
  padding-bottom: 30px !important
}

.pl-30, .px-30 {
  padding-left: 30px !important
}

.p-50 {
  padding: 50px !important
}

.pt-50, .py-50 {
  padding-top: 50px !important
}

.pr-50, .px-50 {
  padding-right: 50px !important
}

.pb-50, .py-50 {
  padding-bottom: 50px !important
}

.pl-50, .px-50 {
  padding-left: 50px !important
}

.p-100 {
  padding: 100px !important
}

.pt-100, .py-100 {
  padding-top: 100px !important
}

.pr-100, .px-100 {
  padding-right: 100px !important
}

.pb-100, .py-100 {
  padding-bottom: 100px !important
}

.pl-100, .px-100 {
  padding-left: 100px !important
}

.p-150 {
  padding: 150px !important
}

.pt-150, .py-150 {
  padding-top: 150px !important
}

.pr-150, .px-150 {
  padding-right: 150px !important
}

.pb-150, .py-150 {
  padding-bottom: 150px !important
}

.pl-150, .px-150 {
  padding-left: 150px !important
}

.p-200 {
  padding: 200px !important
}

.pt-200, .py-200 {
  padding-top: 200px !important
}

.pr-200, .px-200 {
  padding-right: 200px !important
}

.pb-200, .py-200 {
  padding-bottom: 200px !important
}

.pl-200, .px-200 {
  padding-left: 200px !important
}

.p-300 {
  padding: 300px !important
}

.pt-300, .py-300 {
  padding-top: 300px !important
}

.pr-300, .px-300 {
  padding-right: 300px !important
}

.pb-300, .py-300 {
  padding-bottom: 300px !important
}

.pl-300, .px-300 {
  padding-left: 300px !important
}
