.search-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  padding-top: $nav-height;
  display: none;
  .inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    direction: rtl;
    text-align: right;
    padding: 20px;

    .exit-button {
      background: $color-close-button;
      border: none;
      outline: none;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 20px;
      left: 20px;
      @include border-radius(50%);
      @include transition(background-color 0.3s);
      z-index: 99;

      i {
        color: #fff;
      }

      &:hover {
        background: $color-close-button-hover;
      }

    }

    .view-port {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      overflow: auto;

      h1.page-title {
        margin-top: 0;
      }

      div.result-row {
        div.search-result-item {
          background-color: $color-dark-5;
          @include border-radius(5px);
          width: 300px;
          height: 90px;
          float: right;
          margin-right: 10px;
          margin-bottom: 10px;

          .image-container {
            height: 90px;
            width: 90px;
            float: right;
            padding: 15px;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              width: 2px;
              height: 60%;
              left: 2px;
              top: 20%;
              background: $color-dark-4;
            }

            &:before {
              content: '@';
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: absolute;
              bottom: 18px;
              left: 18px;
              z-index: 2;
            }

            .image-frame {
              position: relative;
              width: 100%;
              height: 100%;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              @include border-radius(50%);
              overflow: hidden;

              img {
                width: 100%;
                height: auto;
                top: 0;
                left: 0;
              }
            }
          }

          .details-container {
            width: 210px;
            height: 90px;
            float: right;
            padding: 15px;
            position: relative;

            .text-container {
              position: relative;
              width: 100%;
              height: 100%;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex;
              overflow: hidden;

              a {
                align-self: center;
                text-decoration: none;
                color: $color-apps-nav-back;

                &:hover {
                  color: $color-main-1;
                }
              }
            }
          }

          &.type-product {
            border-top: 3px solid $color-product-sign;

            .image-container {
              &:before {
                content: '\f1b2';
              }
            }
          }

          &.type-directory {
            border-top: 3px solid $color-directory-sign;

            .image-container {
              &:before {
                content: '\f07b';
              }
            }
          }

          &.type-user {
            border-top: 3px solid $color-user-sign;

            .image-container {
              &:before {
                content: '\f007';
              }
            }
          }

          &.type-invoice {
            border-top: 3px solid $color-invoice-sign;

            .image-container {
              &:before {
                content: '\f07a';
              }
            }
          }
        }
      }
    }
  }
}