//fonts
$font-main: persiansans, sans-serif;
$font-for-numbers: byekan;

//color variables

$color-main-1: #ffa605;

$color-dark-1: #111;
$color-dark-2: #474747;
$color-dark-3-1: #666666;
$color-dark-3: #777777;
$color-dark-3-1: #888888;
$color-dark-4: #c6c6c6;
$color-dark-5: #dddddd;

$color-font-1: #fff;

$color-nav-back: #fff;
$color-toolbar-back: #ebebec;
$color-apps-nav-back: #424242;
$color-search-border: #e0e0e0;

$color-notifications-back: #f44336;
$color-close-button: #f44336;
$color-close-button-hover: #962921;

$color-product-sign: #2800b1;
$color-directory-sign: #f5cd1d;
$color-user-sign: #f5438e;
$color-invoice-sign: #f4554656;
//size variables

$nav-height: 168px;

$color-success: #1b7f04;
$color-danger: #7f0404;

